/* @Media min-width & max-width
 https://stackoverflow.com/a/13550716 */
.fixed-nav {
  display: flex;
  align-items: center; /* aligns links vertically */
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
}

.left-nav {
  flex-grow: 1; /* this is the important bit */
}

/* Text Align in CSS https://www.freecodecamp.org/news/text-align-in-css-how-to-align-text-in-center-with-html/ */
.head-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0 0;
  height: 220px;
  background-color: #ccddee;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0 0 0;
  width: 100%;
  height: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 1.5em 0.75em 0 0.75em;
  padding: 1em 0 0 0;
  width: 80vw;
  height: 213px;
  background: #8899aa;
}

.box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  border: none;
  margin-top: 30px;
  background-color: #ddeeff;
  font-size: 15px;
}

/* CSS Flex & Grid 排版詳解（下）：Oh My Grid! https://nicolakacha.coderbridge.io/2020/09/22/css-flex-grid-2/ */
/* css grid center https://stackoverflow.com/a/45542799 */
@media only screen and (min-width: 500px) and (max-width: 799px) {
  .box {
    width: 40vw;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .box {
    width: 40vw;
  }

  .icon {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .box {
    width: 480px;
  }

  .box-list {
    margin: auto;
    max-width: 1200px;
  }

  .icon {
    display: none;
  }
}

/* the rest is just for looks */
/* How do I remove the default link color of the html hyperlink 'a' tag? https://stackoverflow.com/a/6722667 */
body {
  background-color: white;
  margin: 0;
}

a {
  padding: 1em;
  margin: 1em;
  color: inherit;
  text-decoration: none;
  font-size: 0.7;
}

/*
div {
  border: 1px dotted crimson;
}
*/
